<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-text">
          <!-- <span class="name">{{ site.title }}</span> -->
          <span class="name">Lorena A. Ramírez-López</span>
          
          <hr>

          <p>
            Full stack web developer with extensive background in film and television. Trained as a Moving Image Preservation Specialist for digital and Time-Based Media artworks. Focus on coding to develop tools and technologies that expand information and access of media and art to new sectors and communities.
          </p>

          <p>🇵🇾 |  🇨🇱 |  🇺🇸  </p>
        </div>
      </div>
    </div>
  </div>
</header>
